.App {
  background-color: white;
}

.Auth-form-container {
  
  
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-footer {
  display: static;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}


.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}


.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
}

label {
  font-size: 14px;
  font-weight: 400;
  color: rgb(34, 34, 34);
}

.h-gap {

  margin-top: 1rem !important;
}

.chartjs-render-monitor{
    animation: chartjs-render-animation 0.003s;
}